.button {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 61px;
    display: flex;
    align-items: center;
    gap: 17px;

    a {
        display: flex;
        align-items: center;
    }
}

.normal {
    .arrow {
        transition: 0.2s ease-in;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.inverted {
    .arrow {
        transition: 0.2s ease-in;
        transform: rotate(-180deg);

        &:hover {
            transform: rotate(-180deg) scale(1.2);
        }
    }
}