.card-name {
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
}

.card-originalName {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}